<main>
    <div class="row">
        <div class="col-sm-3 ">
            <div class="card bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Temperature</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Vent</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <h5 class="card-title">humidité</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <h5 class="card-title">pluie</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</main>